/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #000;
    --color-on-surface: #000;
    --card-color-one: #E5EFE2;
    --card-color-icon-one: #428A2F;
    --card-bg-color-one: #E5EFE2;
    --card-color-icon-two: #3D63AC;
    --card-bg-color-two: #E4E9F3;
    --card-color-icon-three: #B09E3D;
    --card-bg-color-three: #F4F1E4;
}
