/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 

@import '../../../global-styles/style.scss';

.home-page-container {
    margin:  0 auto;
    max-width: 1440px;
    padding: 180px 152px 174px 152px;    
    height: auto;
    & &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    & &__card {
        width: 304px;
        height: auto;
        border-radius: 12px;
        padding: 32px;
        background-color: var(--card-color-one);
    }
    & &__card-green {background-color: var(--card-bg-color-one);}
    & &__card-blue {background-color: var(--card-bg-color-two);}
    & &__card-yellow {background-color: var(--card-bg-color-three);}

    & &__icon {
        position: relative;
        width: 72px;
        height: 72px; 
        border-radius: 50%;
    }
    & &__icon-green {background-color: var(--card-color-icon-one);}
    & &__icon-blue {background-color: var(--card-color-icon-two);}
    & &__icon-yellow {background-color: var(--card-color-icon-three);}

    & &__icon-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%) translateY(-50%);
    }

    & &__banner-title {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 38px;
        margin-top: 24px;
        margin-bottom: 0;
    }

    & &__banner-desc {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 24px;
        font-weight: 400;
    }

    & &__btn {
        background-color: #FFF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 200px;
        gap: 6px;
        padding: 14px 19px 15px 24px;
        width: 89px;
        height: auto;
    }

    & &__btn-link {
        font-size: 12px;
        text-decoration: none;
    }
    & &__btn-link:hover {
        color: var(--btn-link-color);
    }
    
    & &__btn-link:visited {
        color: var(--btn-link-color);
    }
}